@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,500&display=swap');
body,html{
 min-height: 100%;
 overflow-x: hidden;
}
body{
    background-color: #1e212f;
    font-family: 'Poppins', sans-serif;
}
